h3 {
  padding-bottom: 25px;
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  margin: 50px auto 50px auto;
}

.publication-list{
  text-align: left;
}

.copyright {
  font-size: 0.75rem;
}

#about {
  text-align: center;
}

#publications {
  text-align: center;
}

#contact {
  text-align: center;
}

#footer {
  color: white;
  margin-top: 80px;
  padding: 20px 0 5px 0;
  text-align: center;
}
